<header>
  <div class="row">
    <div class="header">
      <a class="no-und-a" href="/">
        <% try { %> <%=headerText %> <% } catch { %> Lucid Dreaming <% } %>
      </a>
    </div>
  </div>
</header>
