<div class="row">
  <div class="column">
    <a href="/surveys/">
      <div class="button-b">Survey</div>
    </a>
  </div>

  <div class="column">
    <a href="/sleep/">
      <div class="button-p">Sleep</div>
    </a>
  </div>
</div>
