<div class="row">
  <div class="column">
    <a class="button-b" href="/surveys/">Questionnaire</a>
  </div>
  <div class="column">
    <a class="button-p" href="/sleep/">Sleep</a>
  </div>
  <div class="column">
      <span id="account_login"></span>
  </div>
</div>
<script>
  const bttn = document.getElementById("account_login")

  bttn.innerHTML ='<a href="/accounts/" class="button-g">Log In</a>'

</script>
