<div class="row">
  <div class="column">
    <a class="button-g" href="/accounts/"><%= buttonName %></a>
  </div>
  <% if (!auth) { %>
    <div class="column">
      <a class="button-p" href="/accounts/register">Register</a>
    </div>
<% } %>
  <% if (auth) { %>
      <div class="column">
        <a class="button-p" href="/surveys/">Questionnaire</a>
      </div>
      <div class="column">
        <a class="button-b" href="/sleep/">Sleep</a>
      </div>
  <% } %>
</div>
