<div class="row">
  <% if (!auth) { %>
    <div class="column">
      <a class="button-p" href="/accounts/register">Register</a>
    </div>
<% } %>
  <% if (auth) { %>
      <div class="column">
        <a class="button-p" href=<%= nxtLink %>><%= nxtpg %></a>
      </div>
  <% } %>
  <div class="column">
    <a class="button-g" href="/accounts/"><%= buttonName %></a>
  </div>
</div>
