body {
    margin: 0;
    background: #0a2b77;
    background: -webkit-linear-gradient(to right, #0a2b77, #5ca3eb);
    background: linear-gradient(to right, #0a2b77, #5ca3eb);

  }
  
  * {
    box-sizing: border-box;
  }
  
  /* For mobile phones: */
  .column {
    width: 100%;
  }
  .column-2 {
    width: 100%;
  }
  .column-3 {
    width: 100%;
  }
  .column-right {
    width: 30%;
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .column {
      width: 50%;
    }
    .column-2 {
      width: 100%;
    }
    .column-3 {
      width: 33.33%;
    }
    .column-4 {
      width: 25%;
    }
  }
  
  .column {
    float: left;
    padding: 15px;
  }
  
  .column-2 {
    float: left;
    padding: 10px;
  }
  
  .column-3 {
    float: left;
    padding: 15px;
  }
  
  .column-right {
    float: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the header */
  .header {
    background-color: #0f5126af;
    padding: 20px;
    text-align: center;
    color: rgb(42, 36, 36);
    font-family: din-round, sans-serif;
    font-weight: bold;
    font-size: 36pt;
    color: white;
  }
  
  h1 {
    color: white;
    font-family: din-round, sans-serif;
    font-variant: small-caps;
    font-weight: bold;
  }
  
  h2 {
    color: white;
    font-family: din-round, sans-serif;
    font-weight: bold;
  }

  .iframe-style {
    width: 90%;
    height: 80vh;
    float: center;
    padding-left: 15px;
    border: none;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  .label1 {
    color:white;
    font-family: din-round, sans-serif;
    font-weight:bold;
    font-size: 15pt;

  }

  .chkbx_txt {
    color:white;
    font-family: din-round, sans-serif;
    font-weight:bold;
    font-size: 10pt;
  }

  .err-msg {
    color: red;
    font-family: din-round, sans-serif;
    font-weight:bold;
    font-size: 15pt;
    padding-left: 15px;
    padding-top: 15px;
  }
  
  p {
    color: white;
    font-family: din-round, sans-serif;
    font-weight: bold;
    font-size: 17pt;
  }
  
  .no-und-a {
    text-decoration: none;
    color: white;
  }

  /* blue button */
  .button-b {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 20px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 40px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  
  .button-b:hover {
    background-clip: padding-box;
    background-color: #09374c;
  }

  /* Home Button */
   .button-home {
    appearance: button;
    background-color: #ddab3e;
    border: solid transparent;
    border-radius: 20px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 30px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  
  .button-home:hover {
    background-clip: padding-box;
    background-color: #7d6229;
  }
  
  /* Green Button */
  .button-g {
    appearance: button;
    background-color: #18d68a;
    border: solid transparent;
    border-radius: 20px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 40px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  
  .button-g:hover {
    background-clip: padding-box;
    background-color: #12543a;
  }
  
  /* purple button */
  .button-p {
    appearance: button;
    background-color: #792fd4;
    border: solid transparent;
    border-radius: 20px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 40px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  }
  
  .button-p:hover {
    background-clip: padding-box;
    background-color: #351957;
  }
  