<div class="column-2">
  <h2> <em>Welome to the sleep portion of the experiment, please continue with the <%= nextpg %> section when you are ready </em></h2>
  <a class ="button-g" href=<%= nxtLink %>  role="button">
    <%= nextpg %>
  </a>
</div>
