<div class="row">
  <div class="column-2">
    <a class="button-b" role="button" href="./" target="_self"> Back </a>
  </div>
  <div class="column">
    <h2>Step 1:</h2>
    <p><em>Please, do not refresh page.</em></p>

    <span id="heardButton"></span>

    <form action="./training" method="POST">
      <input type="hidden" id="volObjFrm" name="volObjFrm">
      <span id="startTrainingButton"></span>
    </form>
  

    <button
      class="button-p"
      id="begin"
      role="button"
      onclick="playIt(
            soundObj[tracker], 
            remObj[tracker], 
            funcObj[tracker], 
            cueObj[tracker])"
    >
      Begin
    </button>

    <audio src="/audio/soundcheck1.mp3" id="soundcheck1"></audio>
    <audio src="/audio/yw2.m4a" id="cue1"></audio>
    <audio src="/audio/soundcheck2.mp3" id="soundcheck2"></audio>
    <audio src="/audio/yw2.m4a" id="cue2"></audio>
    <audio src="/audio/yw2.m4a" id="discrim1"></audio>
    <audio src="/audio/yw2.m4a" id="discrim2"></audio>
    <audio src="/audio/yw2.m4a" id="discrim3"></audio>
    <audio src="/audio/yw2.m4a" id="discrim4"></audio>
  </div>

  <div class="column"><span id="threeBeeps"></span></div>
  <div class="column"><span id="harpSound"></span></div>
</div>
<script type="text/javascript" src="/scripts/soundcheck.js"></script>
