<div class="row">
  <div class="column-2">
    <a class="button-b" role="button" href="./" target="_self">
      Home
    </a>
  </div>
  <div class="column-2">
    <h2>
      <em> Please, lie comfortably with your phone by your pillow.</em>
    </h2>
  </div>

  <audio src="/audio/yw2.m4a" id="training1"></audio>
  <audio src="/audio/yw2.m4a" id="cue1"></audio>
  <audio src="/audio/yw2.m4a" id="guidance"></audio>
</div>
<div class="row">
  <div class="column">
    <button
      class="button-g"
      role="button"
      onclick="playIntro()"
      id="beginButton"
    >
      Begin
    </button>
  </div>
</div>
<script>
  const training1 = document.getElementById("training1");
  const cue1 = document.getElementById("cue1");
  const guidance = document.getElementById("guidance");

  const beginButton = document.getElementById("beginButton");

  let times = [
    [30000, guidance],
    [105000, guidance],
    [180000, guidance],
    [255000, guidance],
    // --- stop guidance now --- //
    [345000],
    [395000],
    [450000],
    [515000],
    [585000],
    [655000],
    [720000],
    [780000],
    [855000],
    [930000],
    [1020000],
    [1140000],
  ];

  function guide(ls) {
    console.log("starting");
    for (let i = 0; i < ls.length; i++) {
      setTimeout(() => {
        if (ls[i].length > 1) {
          cue1.play();
          cue1.addEventListener("ended", () => {
            setTimeout(() => {
              ls[i][1].play();
            }, 700);
          });
        } else {
          cue1.play();
        }
      }, ls[i][0]);
    }
  }

  function playIntro() {
    beginButton.parentNode.removeChild(beginButton);
    training1.play();
    training1.addEventListener("ended", () => {
      guide(times);
    });
  }
</script>
