<div class="row">
    <div class="column-2">
        <h1>
            Hello, <%= name %>! 
        </h1>
            </br>
        <h2>
            <em>Please navigate to the questionnaire in order to continue!</em>
        </h2>
    </div>
</div>

<div class="row">
    <div class="column">
        <a class="button-b" href="/surveys/">Questionnaire</a>
    </div>
    <div class="column">
        <a class="button-g" href="../">Home</a>
    </div>
    <div class="column">
        <form action="./logout?_method=DELETE" method="POST">
            <button class="button-p" type="submit">Log Out</button>
        </form>
    </div>
</div>