<div class="err-msg">
  <em>
  <% if (messages.error) { %>
    <%=  messages.error %>
  <% } %>
  </em>
</div>


<div class="column">
    <form action="./login" method="POST">
    
        <div class="row">
          <label class="label1" for="username">Username:</label>
          <input type="text" id="username" name="username" required />
        </div>
    </br>
        <div class="row">
          <label class="label1" for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <input type="checkbox" onclick="showhidepwd()"><span class="chkbx_txt"> Show Password</span>
        </div>
    </br>
        <button class="button-g" type="submit">Log In</button> 
    
    </form>
    </br>
      <div class="row">
        <div class="column-small">
          <p><em>Don't have an account?</em></p>
        </div>
        <div class="column-small">
          <a class="button-p" href="./register">Register</a>
        </div>
      </div>
    </div>

  <script>
    function showhidepwd () {
      let pwd = document.getElementById("password")
      if (pwd.type === 'password') {
        pwd.type = 'text'
      } else {
        pwd.type = 'password'
      }
    }
   
  </script>
    