<div class="err-msg">
  <em>
  <% try { %>
    <% if (errMsg) { %>
      <%= errMsg %>
    <% } %>
  <% } catch {} %>
  </em>
</div>


<div class="column">
<form action="./register" method="POST">
    <div class="row">
      <label class="label1" for="name">Name:</label>
      <input type="text" id="name" name="name" required />
    </div>
</br>
    <div class="row">
        <label class="label1" for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
</br>   
    <div class="row">
      <label class="label1" for="username">Username:</label>
      <input type="text" id="username" name="username" required />
    </div>
</br>
    <div class="row">
      <label class="label1" for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <input type="checkbox" onclick="showhidepwd()"><span class="chkbx_txt"> Show Password</span>
    </div>
</br>
    <button class="button-g" type="submit">Register</button>
 
</form>

</br>
    <a class="button-p" href="./login">Login</a>
</div>

<script>
    function showhidepwd () {
      let pwd = document.getElementById("password")
      if (pwd.type === 'password') {
        pwd.type = 'text'
      } else {
        pwd.type = 'password'
      }
    }
   
  </script>
    