<!-- <div class="column">
  <form action="./" method="POST">
      <div class="row">
        <label class="label1" for="q1">This is the first question</label>
        <input type="text" id="q1" name="q1" required />
      </div>
  </br>
      <div class="row">
          <label class="label1" for="q2">This is the second question:</label>
          <input type="text" id="q2" name="q2" required />
      </div>
  </br>   
      <div class="row">
        <label class="label1" for="q3">This is the third question:</label>
        <input type="text" id="q3" name="q3" required />
      </div>
  </br>
      <div class="row">
        <label class="label1" for="q4">This is the fourth question:</label>
        <input type="text" id="q4" name="q4" required />
      </div>
  </br>
      <button class="button-g" type="submit">Submit</button>
   
  </form>
  
  </br>
      <a class="button-p" href="./">Back</a>
  </div>
   -->

<div class="column-2">
  <span id="main"></span>
</div>
<script>
const main = document.getElementById('main')

main.innerHTML="<iframe class='iframe-style' src='https://northwestern.az1.qualtrics.com/jfe/form/SV_1CaTPg0cEkxIiQm?participantID=<%= participantID %>&whichDay=<%= whichDay %>&whatTime=<%= whatTime %>'> </iframe>"

window.addEventListener("message", (event) => {
  if(event.data == 'closeQSIWindow') {
    main.innerHTML=" <form action='./' method='POST'><button type='submit' class='button-g'>Next</button></form>"
  }
}, 
false);


</script>